/* RoomOccupantForm.css */

.add-occupant-popup {
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.formInput {
  margin-bottom: 20px;
}

/* Styling the search input */
.react-select__control {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Increase font size */
}

/* Styling the search results */
.search-results {
  margin-top: 10px;
}

.search-results div {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.search-results div:hover {
  background-color: #f5f5f5;
}

/* Styling the Add and Clear buttons */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button.add-btn {
  background-color: #4caf50;
  color: #fff;
}

.button-group button.clear-btn {
  background-color: #f44336;
  color: #fff;
}

.button-group button:hover {
  background-color: #555;
}
