/* Variables */
$primary-color: #007bff;
$secondary-color: #6c757d;

/* Mixins */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overall {
  background-image: url("../../images/OIE_Background_Image.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the background covers the full viewport height */
}

.newpass {
  background-color: rgba(130, 136, 193, 0.8); /* Using rgba for translucent background */
  margin-top: 60px;
  display: flex;
  flex-direction: column; /* Align content vertically */
  align-items: center;
  justify-content: center;
  max-width: 500px;
  padding: 40px; /* Increase padding for better spacing */
  border-radius: 10px; /* Adding border-radius for rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Increased shadow for depth */
}

form {
  width: 100%; /* Ensure the form takes up the full width of the container */
}

h2 {
  margin-bottom: 20px; /* Add spacing below the heading */
}

label {
  margin-bottom: 10px; /* Add spacing below labels */
}

input {
  width: 100%; /* Ensure inputs take up the full width */
  padding: 10px; /* Add padding to inputs */
  margin-bottom: 15px; /* Add spacing between inputs */
}

button {
  width: 100%; /* Ensure buttons take up the full width */
  padding: 10px; /* Add padding to buttons */
  background-color: $primary-color; /* Use primary color for buttons */
  color: #fff; /* White text color */
  border: none; /* Remove borders */
  border-radius: 5px; /* Add border-radius */
  cursor: pointer; /* Add pointer cursor */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
  background-color: darken($primary-color, 10%); /* Darken the background color on hover */
}

canvas {
  margin-top: 20px; /* Add spacing above the canvas */
}

/* Styles for Captcha Text */
.captcha-text {
  font-family: 'Roboto Mono', monospace; /* Ensure consistent font */
  font-size: 20px; /* Adjust font size as needed */
  color: #000; /* Black color for the text */
  margin-bottom: 20px; /* Add spacing below the text */
}
