.form-gap {
  padding-top: 70px;
  border-radius: 20px;
}
.btn btn-lg btn-primary btn-block{
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.form-control{
  margin-bottom: 20px;
}
.panel-body{
  border-radius: 20px;
}
